@using BabyKat.Core.Models._Product
@model IEnumerable<ProductRatingModel>

@{
    ViewBag.Title = "Categories";
    bool flag = true;
}



<div class="text-center row">
    @foreach (var product in Model)
    {

        if (flag == true)
        {
            <h2 class="text-center">@product.CategoryName</h2>
            <hr />
            flag = false;
        }

        <div class="card col-4 mt-2" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@product.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@product.Name</h5>
                <p class="mb-0">Price: @product.Price$</p>
                <p class="mb-0">Description: @product.Description</p>
                @if(product.Rating != 0.000m){
                   <p  class="mb-0">Rating: @product.Rating</p>
                }
                else {
                    <p class="mb-0">There aren't any reviews from users.</p>
                }
              


                <a asp-controller="Post" asp-action="Add" asp-route-productId="@product.Id" class="btn btn-outline-success">Post Review</a>
                <a asp-controller="User" asp-action="AddToCollection" asp-route-productId="@product.Id" class="btn btn-outline-success">Add to Favourite</a>

                <a asp-controller="Post" asp-action="ShowPosts" asp-route-productId="@product.Id" class="btn btn-outline-success">Reviews from users</a>
            </div>

            
        </div>
    }
</div>