@using BabyKat.Core.Models._Product
@model IEnumerable<ProductRatingModel>

@{
    ViewBag.Title = "Categories";
}

<h2 class="text-center"> @ViewBag.Title</h2>
<hr />
<div class="text-center row">
    @foreach (var product in Model)
    {
        
           
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@product.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@product.Name</h5>
                <p class="mb-0">Price: @product.Price$</p>
                <p class="mb-0">Price: @product.Description</p>
                <p class="mb-0">Rating: @product.Rating</p>
                <a asp-controller="Product" asp-action="RemoveProduct" asp-route-productId="@product.Id" class="btn btn-outline-success">Delete</a>

                <a asp-controller="Post" asp-action="Add" asp-route-productId="@product.Id" class="btn btn-outline-success">Post Review</a>

                <a asp-controller="Product" asp-action="Edit" asp-route-productId="@product.Id" class="btn btn-outline-success">Edit Product</a>

            </div>

            
        </div>
    }
</div>