@using BabyKat.Core.Models.Postt

@model IEnumerable<PostModel>


@{
    ViewBag.Title = "Your opinion";
}

<h2 class="text-center"> @ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var post in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@post.Product.ImageUrl" alt="Post Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@post.Title</h5>
                <p class="mb-0">User: @post.User.UserName</p>
                <p class="mb-0">Description: @post.Description$</p>
                <p class="mb-0">Rating: @post.Rating</p>
                <p class="mb-0">Price: @post.Product.Price$</p>

                <a asp-controller="Post" asp-action="RemovePost" asp-route-postId="@post.Id" class="btn btn-outline-success">Delete Post</a>
            </div>



        </div>
    }
</div>