@using BabyKat.Core.Models.Articlesss
@model IEnumerable<ArticleModel>


@{
    ViewBag.Title = "All Articles";
}

<h2 class="text-center"> @ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var article in Model)
    {
        <div class="card col-4 mt-2" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@article.ImageUrl" alt="Post Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@article.Title</h5>
              
            </div>





            <a asp-controller="Article" asp-action="Read" asp-route-articleId="@article.Id" class="btn btn-outline-info">Read</a>

            <a asp-controller="Article" asp-action="RemoveArticle" asp-route-articleId="@article.Id" class="btn btn-outline-warning">Delete</a>

            <a asp-controller="Article" asp-action="Edit" asp-route-articleId="@article.Id" class="btn btn-outline-danger">Edit</a>
        </div>
    }
</div>